@charset: "UTF-8";

body {
	font-family: sans-serif;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 8%, rgba(161,0,13,1) 31%, rgba(255,0,0,1) 75%, rgba(0,212,255,1) 100%);
}

div {
	padding: 20px;
	background-color: white;
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
div#logo {
	top: 75px;
	left: 180px;
}

a.txtDec{
	text-decoration: none;
	color: red;
	font-size: 20px;
}
a.bottomRight {
	text-decoration: none;
	color: red;
	font-size: 20px;
	right: 10px;
	bottom: 10px;
	position: absolute;
	background-color: white;
	border-radius: 10px;
	padding: 20px;
}
a.bottomLeft {
	text-decoration: none;
	color: red;
	font-size: 20px;
	left: 10px;
	bottom: 10px;
	position: absolute;
	background-color: white;
	border-radius: 10px;
	padding: 20px;
}

header {
	background-color: white;
}